#mainHeader {
height: 400px;
width: 100%;
background-color: peru;
text-align: center;
z-index: 9;
background-color: #007a74;
background-image: url("https://www.transparenttextures.com/patterns/honey-im-subtle.png");
grid-area: header;
}

.center {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  #mainHeader {
    grid-area: profile;
    margin-top: 120px;
  }
}
