    /* Another tablet breakpoint is minimum width of 768px */
  @media only screen and (min-width: 768px) {
    /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
    .header {
      width: 100%;
      line-height: 600px; 
    }
  
    .new-tweet {
      width: 100%;
    }
  
    .existing-tweet {
      width: 100%
    }
  } 

  /* Laptops / Desktops: minimum width of 1024px */
  @media only screen and (min-width: 1024px) {
    /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
    .body {
      line-height: 300px;
      text-align: right;
    }
    header {
      width: 33.3%;
    }

    .new-tweet {
      width: 75%;
    }

    .existing-tweet {
      width: 75%;
      margin: 0 auto;
    } 
} 